body{
    background-color: rgb(228, 228, 223);
    padding: 20px;
}

#contact{
    background-color: #d6cabc;
}

#introduction{
    background-color: #d6cabc;
}

#video-introduction{
    background-color: #d6cabc;
}

#qualification{
    background-color: #d6cabc;
}

#skills{
    background-color: #d6cabc;
}

#experience{
    background-color: #d6cabc;
}

#personal-info{
    background-color: #d6cabc;
}


#contact{
    background-color: #d6cabc;
}

#social-media{
    background-color: #d6cabc;
}